In [1]:
# Q1.
# Single line comment
"""
Multiple lines can be commented.
Just like this .
By using 3 single or double quotes
"""

'\nMultiple lines can be commented.\nJust like this .\nBy using 3 single or double quotes\n'

In [2]:
"""
Q2..
Variables are bascially named storage space. In Python we have several types of variable
like int,float,complex,Boolean,string{these are primitive Dtypes}
and list,Tuples,set,dictionary{non primitive}
to assign values to variable one has to just name the variable , no need to specify the DTypes, and assign your 
value/values in it. It would understand the Data type by looking at the assigned value to the variable

symantics:

    variable_name = value


example:

name="Pratik"
num1=90
num2=77

"""

'\nQ2..\nVariables are bascially named storage space. In Python we have several types of variable\nlike int,float,complex,Boolean,string{these are primitive Dtypes}\nand list,Tuples,set,dictionary{non primitive}\nto assign values to variable one has to just name the variable , no need to specify the DTypes, and assign your \nvalue/values in it. It would understand the Data type by looking at the assigned value to the variable\n\nsymantics:\n\n    variable_name = value\n\n\nexample:\n\nname="Pratik"\nnum1=90\nnum2=77\n\n'

In [3]:
"""
Q3...
To convert a data type into another we need to do type casting.
like the input function always treat the input as a string, even if you are entering a int or float,
it will treat it as if a string.To mitigate this we use

X=int(inpuut(Enter the number:))

now the input stream will be converted into integer as i write "int".
one can use any Data type to type casting
"""

'\nQ3...\nTo convert a data type into another we need to do type casting.\nlike the input function always treat the input as a string, even if you are entering a int or float,\nit will treat it as if a string.To mitigate this we use\n\nX=int(inpuut(Enter the number:))\n\nnow the input stream will be converted into integer as i write "int".\none can use any Data type to type casting\n'

In [6]:
# Q5.....
my_list=[1,2,3,4,5]
sub_list=my_list[1:3]

In [7]:
sub_list

[2, 3]

In [8]:
"""
Q6......
in Maths complex number is a number consist of two parts, i.e,
real part and imaginary part
example: 9+8i
where 8 is in imaginary plane 
and 9 is on real plane
in python insted of using i, we need to use j.
"""

'\nQ6......\nin Maths complex number is a number consist of two parts, i.e,\nreal part and imaginary part\nexample: 9+8i\nwhere 8 is in imaginary plane \nand 9 is on real plane\nin python insted of using i, we need to use j.\n'

In [9]:
# Q7.......
# correct way to store 25 to an variable name "age"

# age= 25

In [16]:
#Q8........
price=9.99

In [17]:
type(price)

float

In [18]:
#Q9.........
name="Pratik Dutta"

In [19]:
print(name)

Pratik Dutta

In [22]:
# Q10..........
string="Hello,World!"
substring=string[6:11]
print(substring)

World

In [37]:
is_student=True
type(is_student)

bool